.topnav {
  background-color: #7668c9ec;
  overflow: hidden;
}

.topnav a {
  color: #eceb83;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
h1 {
  font-size: 85px;
}
footer {
  background-color: #7668c9ec;
  color: #eceb83;
  text-align: center;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

p{
  text-align: center;
  font-size: 40px;
}